[Desktop Entry]
Name=Run Command
Comment=Mouse action for running a command
Type=Service

X-KDE-PluginInfo-Author=wsdfhjxc
X-KDE-PluginInfo-Name=run-command
X-KDE-PluginInfo-Version=0.2
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/ContainmentActions
X-KDE-Library=plasma_containmentactions_runcommand
X-Plasma-HasConfigurationInterface=true
